h1 {
	font-family: "ff-cocon-pro", sans-serif;
	font-size: 100pt;
	font-style: italic;
	padding-top: .5em;
	margin: 0;
	color: white;#1651FD;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.nav-bottom {
	display: none;
}

.nav-top {
	position: fixed;
	bottom: 0px;
	left: 20px;
	text-decoration: none;
	z-index: 15;
}

ul {
	list-style: none;
	padding-left: 0;
}

li {
	font-weight: 300;
	font-size: 20pt;
	line-height: 30pt;
	opacity: .3;
	color: black;
}

.nav-top a:link {
	text-decoration: none;
	color: black;
	transition: .3s;
}

.nav-top li:hover {
	color: #1651FD;
	opacity: 1;
	cursor: pointer;
}

.nav-top a:visited {
	text-decoration: none;
	color: black;
}

.side {
	position: relative;
	background-attachment: fixed;
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

/*/
.side .circle {
	position: absolute;
	top: 5%;
	text-align: center;
	width: 100px;
	height: 100px;
	background: white;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	z-index: 2;
}
/*/

.background_img {
	width: 100%;
}

.side .headline {
	position: absolute;
	display: block;
	top: 3%;
	width: 100%;
	text-align: center;
}

.headline h1 {
	padding: 0;
	line-height: 1;
	padding-top: 50px;
	text-shadow: -6px 6px 0px #F9947A;
}

.headline h1:first-of-type {
	margin-bottom: 150px;
	margin-top: 30px;
}

.free {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
}

h1 .color-change {
	color: #1651FD;
	font-style: normal;
	letter-spacing: .1em;
	-webkit-animation-name: color;
    -webkit-animation-duration: 1s;
    animation-name: color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes color {
    0%   {color: #FFD17D;#1651FD;}
    25%  {color: #39E7DD; font-size: 110%}
    50%  {color: #F9947A; font-size: 110%}
    100% {color: #FFD17D;#1651FD;}
}

@keyframes color {
    0%   {color: #FFD17D;#1651FD;}
    25%  {color: #39E7DD; font-size: 110%}
    50%  {color: #F9947A; font-size: 110%}
    100% {color: #FFD17D;#1651FD;}
}

.headline p {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 10pt;
	padding-top: 0em;
	color: #8c8c8c;
}

.nav-down {
	display: block;
	position: absolute;
	bottom: 0px;
	height: 80px;
	width: 100%;
	background-color: white;#FFD17D;#39E7DD;
	text-align: center;
	opacity: .5;
}

.nav-down .down {
	color: #FFD17D;white;
	font-family: "ff-cocon-pro", sans-serif;
	font-size: 30pt;
	line-height: 80px;
}

.down a:link {
	text-decoration: none;
	transition: .3s;
}

.down a:visited {
	text-decoration: none;
	color: black;#FFD17D;
}

.down a:hover {
	color: #FFD17D;black;
	opacity: 1;
}




/** SECTION TWO /////////////////////////////////////////////////**/

#two {
	background-color: #1651FD;
	background: linear-gradient(to top right, #1651FD, #F9947A);
}

.intro {
	width: 60%;
	margin: auto;
	z-index: 1;
	height: 100%;
}

.hi {
	margin-bottom: 50px;
}

.hi p {
	font-weight: 300;
	font-size: 14pt;
	line-height: 1.8em;
	color: white;#8c8c8c;
	padding-top: 0;
	opacity: .8;
}

.hi .bold {
	font-weight: 500;
	color: #39E7DD;#FFD17D;#1651FD;
}

.hi h1 {
	font-size: 70pt;
	color: #FFD17D;#39E7DD;#1651FD;
	padding-top: 50px;
	margin-bottom: 50px;
	text-shadow: -6px 6px 0px #39E7DD;#FFD17D;#39E7DD;
}

#countdown {
	z-index: 10;
}

#countdown #clock {
	text-align: center;
	font-family: "ff-cocon-pro", sans-serif;
	font-size: 30pt;
	color: #39E7DD;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	border: 3px solid #39E7DD;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 11;
}

/**
	background-image: url('../images/interior 2_mesh.jpg');
	background-size: 1000px;
	background-position: center top;
**/

.units {
	color: #FFD17D;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20pt;
}

.only {
	font-size: 30pt;
	font-family: 'Ubuntu', sans-serif;
	color: #FFD17D;
}

.intro .button {
	text-align: center;
	padding-top: 60px;
}

.button-share, .button-yes {
	width: 40%;
	padding: 15px 0;
	text-decoration: none;
	cursor: pointer;
	border-radius: 15px;
	font-family: 'Ubuntu', sans-serif;
	transition: .3s;
}

.button-share {
	margin-right: 12px;
	border: 2px solid #39E7DD;
	background-color: #39E7DD;
	color: white;
}

.button-yes {
	margin-left: 12px;
	border: 2px solid #1651FD;
	background-color: #1651FD;
	color: white;
}

.button-share:hover {
	border: 2px solid #39E7DD;
	background-color: white;
	color: #39E7DD;
	font-weight: 500;
}

.button-yes:hover {
	border: 2px solid #1651FD;
	background-color: white;
	color: #1651FD;
	font-weight: 500;
}

.ez {
	color: #d5d5d5;
	text-align: center;
	font-style: italic;
	padding-top: 25px;
	padding-bottom: 30px;
}




/** SECTION THREE //////////////////////////////////////////////////**/

/**
#three {
	background-color: #1651FD;
	background: linear-gradient(to top right, #1651FD, #F9947A);
}
**/

.formbox {
	position: relative;
	background-attachment: fixed;
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	margin-top: 0;
	
}

.containerBox {
	width: 60%;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 50px;
}

.sticky {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	margin: auto;
	padding-bottom: 0px;
	background-color: white;
	border: 0;
	opacity: .9;
}

.signup {
	color: #FFD17D;
	text-shadow: -6px 6px 0px #F9947A;#1651FD;
	margin-top: 65px;
	padding-top: 0;
	font-size: 70pt;
	line-height: 1.2em;
}

input[type=text] {
	position: relative;
    width: 100%;
    padding: 15px;
    padding-right: 0px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius: 15px;
    background: ;#39E7DD;
    color: #1651FD;
    font-weight: 500;
}

input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type=text]:focus {
    outline: none;
    opacity: .9;
}

b {
	font-size: 15pt;
	color: white;
	font-weight: 300;
}

::placeholder {
	font-style: italic;
	opacity: .5;

}

#name_invalid, #email_invalid {
	font-style: italic;
	color: black;
	margin-bottom: 0;
	margin-top: 10px;
}

.field {
	margin-top: 50px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix {
	margin: auto;
	padding-top: 30px;
	text-align: center;
}

.signupbtn {
	width: 40%;
	padding: 15px 0;
	text-decoration: none;
	cursor: pointer;
	border: 2px solid #39E7DD;
	border-radius: 15px;
	background-color: #39E7DD;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	transition: .3s;
}

.signupbtn:hover {
	background-color: white;
	color: #39E7DD;
	border: 3px solid #39E7DD;
	font-weight: 500;
}

.terms {
	font-weight: 300;
	opacity: .5;
}


/** THANK YOU PAGE ////////////////////////////////////////////////////**/


#ty {
	background-color: #FFD17D;
	background: linear-gradient(to top right, #39E7DD, #FFD17D);
	height: 100vh;
}

#containerBox {
	width: 70%;
	margin: auto;
	padding-bottom: 30px;
}

.thanks {
	color: #F9947A;
	text-shadow: -6px 6px 0px white;
	margin-bottom: 50px;
}

#containerBox .main {
	font-size: 14pt;
	font-weight: 300;
	line-height: 1.8em;
	color: #8c8c8c;#1651FD;
}

.june-bold {
	font-weight: 500;
	color: #F9947A;
	text-transform: capitalize;
}

#ty #countdown {
	margin: auto;
	width: 100%;
	margin: 50px 0 50px 0;
}

 #countdown #clock-ty {
	text-align: center; 
	font-family: 'ff-cocon-pro', sans-serif;
	font-size: 40pt;
	color: #FFD17D;
	margin-top: 0px;
	margin-bottom: 0;
	width: 100%;
	border: 3px solid #FFD17D;
	padding-top: 10px;
	padding-bottom: 10px;
}

.units-ty, .clock-text {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20pt;
	color: #8c8c8c;
	opacity: .6;
}

.clock-text {
	font-size: 30pt;
}

#containerBox .button {
	text-align: center;
	margin: auto;
	margin-top: 30px;
	width: 100%;
}

.button-back {
	border: 2px solid #F9947A;#39E7DD;#1651FD;
	background-color: #F9947A;#39E7DD;#1651FD;
	color: white;
	width: 40%;
	padding: 15px 0;
	text-decoration: none;
	cursor: pointer;
	border-radius: 15px;
	font-family: 'Ubuntu', sans-serif;
	transition: .3s;
}

.button-back:hover {
	border: 2px solid #F9947A;#39E7DD;
	background-color: white;
	color: #F9947A;#39E7DD;
	font-weight: 500;
}

/** RESPONSIVE //////////////////////////////////////////////////////**/

@media only screen and (max-device-width: 1366px) {
    .side {
        background-attachment: scroll;
        background-image: 40%;
    }
}

@media only screen and (max-width:1088px) {
	.signup {
		font-size: 53pt;
		line-height: 65pt;
	}
}

@media only screen and (max-width:768px) {
	#one {
		height: 100vh;
	}

	.side {
		background-position: center;
	}

	#three {
		height: 1020px;
	}

	#ty {
		height: 1200px;
	}
}

@media only screen and (max-width:414px) {
	h1 {
		font-size: 60pt;
	}

	.side {
		background-position: center left;
	}

	.free {
		translate: Ytransform(-20%);
	}

	#two {
		height: 850px;
	}

	.intro {
		width: 90%;
		box-sizing: border-box;
	}

	.hi h1 {
		padding-top: 30px;
		padding-bottom: 30px;
		margin: auto;
		font-size: 65pt;
		text-align: center;
	}

	.hi p {
		font-size: 12pt;
	}

	.hi {
		margin-bottom: 50px;
	}

	h1 .color-change {
	color: #1651FD;
	font-style: normal;
	letter-spacing: .1em;
	-webkit-animation-name: color;
    -webkit-animation-duration: 1s;
    animation-name: color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
	}

	@-webkit-keyframes color {
    0%   {color: #FFD17D;#1651FD;}
    25%  {color: #39E7DD;}
    50%  {color: #F9947A;}
    100% {color: #FFD17D;#1651FD;}
	}

	@keyframes color {
    0%   {color: #FFD17D;#1651FD;}
    25%  {color: #39E7DD;}
    50%  {color: #F9947A;}
    100% {color: #FFD17D;#1651FD;}
	}

	#countdown #clock {
		font-size: 30pt;
		margin-bottom: 0;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		box-sizing: border-box;
	}

	.sticky #clock {
		margin-top: 0;
		border: none;
	}

	.units {
		font-size: 20pt;
	}

	.only {
		font-size: 20pt;
	}

	.intro .button {
		padding-top: 30px;
	}

	.button-share, .button-yes {
		width: 48%;
	}

	.button-share {
		margin-right: 5px;
	}

	.button-yes {
		margin-left: 5px;
	}

	.sticky {
		font-size: 13pt;
	}

	input[type=text] {
   		width: 100%;
    	padding: 20px;
    	padding-right: 0px;
    	margin: 5px 0 22px 0;
	}

	#three {
		height: 900px;
	}

	.formbox {
		width: 100%;
		margin: auto;
		padding-bottom: 0;
	}

	.containerBox {
		width: 90%;
		margin: auto;
	}

	.signup {
		font-size: 35pt;
		line-height: 65pt;
		text-align: center;
	}

	.signupbtn {
		width: 100%;
	}

	.terms {
		font-size: 10pt;
		line-height: 20pt;
	}

	#ty {
		height: 100vh;
	}

	#containerBox {
		width: 90%;
	}

	.thanks {
		font-size: 48pt;
		text-align: center;
	}

	#containerBox .main {
		font-size: 12pt;
		line-height: 1.8em;
	}

	.ty-main {
		width: 100%;
	}

	#countdown #clock-ty {
		font-size: 30pt;
	}

	.units-ty {
		font-size: 16pt;
	}

	.clock-text {
		font-size: 20pt;
	}

	.button-back {
		width: 100%;
	}

	.nav-bottom {
		z-index: 16;
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin: auto;
		text-align: center;
		width: 100%;
		background-color: #606060;#505050;#8c8c8c;
	}

	.nav-bottom ul {
		text-align: center;
		margin: auto;
		width: 100%;
	}

	.nav-bottom li {
		display: inline-block;
		vertical-align: top;
		padding: 0 10px 0 10px;
		font-size: 12pt;
		color: white;
	}

	.nav-top {
		display: none;
	}

}

@media only screen and (max-width:375px) {
	
	.headline h1 {
		padding: 0;
		line-height: 1;
		padding-top: 0px;
		font-size: 50pt;
	}

	.headline h1:first-of-type {
		margin: 150px 0 150px 0;
	}

	.free {
		top: 60%;
		transform: translate(-50%, -30%);
		left: 50%;
	}

	#two {
		height: 750px;
	}

	.hi h1 {
		font-size: 55pt;
	}

	#three {
		height: 900px;
	}

	.signup {
		font-size: 45pt;
	}

}













